{{> header }}

<h1>Leave Finance Report</h1>

<div class="row">
  <div class="col-md-6 lead">Leave Finance Report for {{> reports/date_range_pretty same_month=same_month start_date=start_date_obj end_date=end_date_obj}}</div>
</div>

{{> show_flash_messages }}

<ol class="breadcrumb">
  <li><a href="/reports/">All reports</a></li>
  <li class="active">Leave Finance Report</li>
</ol>

<div class="row main-row_header">
  <span class="col-md-12">Filter</span>
</div>

<form action="" method="GET">
<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">

          {{# ifCond logged_user.supervised_company.length '<=' 1}}{{else}}
            <div class="col-md-3">
              <div class="form-group">
                <label for="company_id">Company</label>
                <select class="form-control" id="company_id" name="company">
                  {{#each logged_user.supervised_company}}
                    <option value="{{this.id}}" {{#if_equal this.id ../company.id}}selected="selected"{{else}}{{# if_equal this.id ../supervised_company.id }}selected="selected"{{/if_equal}}{{/if_equal}}>{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          {{/ifCond}}

          <div class="col-md-10">
            <div class="form-group">
              <label>Date range within single year</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                <input type="text" name="start_date" class="form-control" id="start_date" placeholder="Start Date" 
                  data-provide="datepicker" data-date-autoclose="1" data-date-format="yyyy-mm-dd" data-date-week-start="1" 
                  value="{{start_date_str}}"
                >


                <span class="input-group-addon">(YYYY-MM-DD)</span>
                <span class="input-group-addon"><i class="fa fa-long-arrow-right"></i></span>


                <input type="text" name="end_date" class="form-control" id="end_date" placeholder="End Date" 
                  data-provide="datepicker" data-date-autoclose="1" data-date-format="yyyy-mm-dd" data-date-week-start="1" 
                  value="{{end_date_str}}"
                >

                <span class="input-group-addon">(YYYY-MM-DD)</span>
              </div>
              <span class="help-block">Date range must be within single year</span>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group pull-right">
              <button class="btn btn-link" type="submit" name="as-csv" value="1"
                data-content="Download report as .CSV file"
                data-placement="top"
                data-toggle="popover"
                data-trigger="focus hover"
              ><i class="fa fa-download"></i> .csv</button>
              <button class="btn btn-success" type="submit">Update results</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</form>

<div class="row main-row_header">
  <span class="col-md-12">Report</span>
</div>

<div class="row">


  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Staff ID</th>
          <th>Full name</th>
          <th>Category</th>
          <th>Joined date</th>
          <th>Resigned date</th>
          <th>Allowance(Entitlement)</th>  
          <th>Manual Adjustment</th>
          <th>Carry Over (LeaveB/F)</th>
          <th>Annual Leave Taken</th>
          <th>Sick Leave Taken</th>
        </tr>
      </thead>

      <tbody>
        {{# each users_info}}
          {{#if_equal this.user_id 1}}
            {{else}}
              {{#if_equal this.is_resigned 1}}
              {{else}}
                <tr data-vpp-user-row="{{this.user_id}}">
                  <td>{{this.user_staff_id}}</td>          
                  <td>{{this.user_full_name}}</td>
                   <td>{{this.user_category}}</td>           
                  <td>{{ as_date this.user_dtjoin }}</td>
                  {{!-- <td>{{#if_equal this.user_dtleave ''}}{{ as_date this.user_dtleave }}{{else}}N/A{{/if_equal}}</td> --}}
                  <td>{{#if_equal this.user_dtleave 'Invalid date'}}N/A{{else}}{{ as_date this.user_dtleave }}{{/if_equal}}</td>
                  <td style="text-align:center">{{this.total_number_of_days_in_allowance_with_prorated_initial_adjustment}}</td>
                  <td style="text-align:center">{{this.manual_adjustment}}</td>
                  <td style="text-align:center">{{this.carry_over}}</td>
                  <td style="text-align:center">{{this.annual_Leave_taken}}</td>
                  <td style="text-align:center">{{this.sick_Leave_taken}}</td>
                </tr>
              {{/if_equal}}
            {{/if_equal}}
        {{/each}}
      </tbody>

    </table>
  </div>

</div>

{{> footer }}
